<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">NWP Domaci1</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Home</a>
          <a [routerLink]="'/configuration'" class="nav-link active" aria-current="page">Configuration</a>
          <a [routerLink]="'/entityExtraction'" class="nav-link active" aria-current="page">Entity extraction</a>
          <a [routerLink]="'/textSimilarity'" class="nav-link active" aria-current="page">Text similarity</a>
          <a [routerLink]="'/languageDetection'" class="nav-link active" aria-current="page">Language detection</a>
          <a [routerLink]="'/sentimentAnalysis'" class="nav-link active" aria-current="page">Sentiment analysis</a>
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
