<div>
  <h2>Welcome to Dandelion API graphical user interface!</h2>
  <p>
    Before you get started, you need a token which you can get on <a href="https://dandelion.eu/" target="_blank">https://dandelion.eu/</a><br>
    You need to sign up or log in, go to dashboard and there you can get your token which you need to configure
    <a [routerLink]="'/configuration'" aria-current="page">here</a>.<br>
    After that, you can get started!
  </p>
  <h4>Here are the functionalities we offer:</h4>
</div>
