<div>
  <div>
    <h3>Input text:</h3>
    <form [formGroup]="textInputForm" class="mb-5">
      <div class="form-group mb-2">
        <label for="inputTextArea">Body</label>
        <textarea [(ngModel)]="text" class="form-control" id="inputTextArea" rows="3" [formControlName]="'text'"></textarea>
        <div class="error-message text-danger" *ngIf="textInputForm.get('text')?.errors?.required"> Text is required! </div>
      </div>
    </form>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="showSlider" (change)="onIncludeConfidence()">
      <label class="form-check-label" for="showSlider">
        Clean text
      </label>
    </div>
    <br>
    <button [disabled]="!textInputForm.valid" (click)="detectLanguage()" class="btn btn-primary">Detect Language</button>
  </div>
  <br><br><br>
  <div *ngIf="languages.length > 0">
    <div *ngFor="let language of languages;" class="mb-2">
      <h4>Language: {{language.lang}}; Confidence: {{getPercent(language.confidence)}}%</h4>
    </div>
  </div>
</div>
